<div class="min-h-screen xl:flex">
  <div>
    <app-sidebar></app-sidebar>
    <app-backdrop></app-backdrop>
  </div>
  <div
      class="flex-1 flex flex-col transition-all duration-300 ease-in-out min-h-screen pb-10 relative"
      [ngClass]="{
        'xl:ml-[290px]': (isExpanded$ | async),
        'xl:ml-[90px]': !(isExpanded$ | async),
        'ml-0': (isMobileOpen$ | async)
      }"
  >
    <!-- app header start -->
    <app-header/>
    <!-- app header end -->
    <div class="p-1 flex-1">
      <router-outlet></router-outlet>
    </div>

    <!-- Sticky Footer -->
    <div class="fixed bottom-0 right-0 z-40 transition-all duration-300 ease-in-out"
         [ngClass]="{
           'left-0 xl:left-[290px]': (isExpanded$ | async),
           'left-0 xl:left-[90px]': !(isExpanded$ | async)
         }">
      <app-footer></app-footer>
    </div>
  </div>
</div>
