<div class="space-y-6 relative min-h-[calc(100vh-80px)] mx-auto p-4">
  
  <!-- CASE 1: PRESIDENTIAL VIEW (Level 1 Only) -->
  <ng-container *ngIf="level1_hierarchy?.type == 1">
    <!-- PRESIDENTIAL LEVEL -->
    <section>
      <div class="grid grid-cols-8 gap-4">
        <app-accordian [node]="level1_hierarchy" [color]="getNodeColor(level1_hierarchy.type)" [isSelected]="selectedNode === level1_hierarchy" class="col-span-8 mb-2" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
      </div>
    </section>

    <!-- BRANCHES GRID (Responsive: 1x1, 2x1, 2x2 based on branch count) -->
    <div [ngClass]="getBranchesGridClass()" class="gap-4">
      <section *ngFor="let branch of branches; let i = index">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-1 items-start">
          <app-accordian [node]="branch" [color]="getNodeColor(branch.type)" [isSelected]="selectedNode === branch" class="col-span-full mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
          
          <ng-container *ngFor="let node of branch.children">
            <app-accordian [node]="node" [color]="getNodeColor(node.type)" [isSelected]="selectedNode === node" class="col-span-4 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
          </ng-container>
          
          <ng-container *ngFor="let node of (branch.children || [])">
            <ng-container *ngFor="let child of node.children">
              <app-accordian [node]="child" [color]="getNodeColor(child.type)" [isSelected]="selectedNode === child" class="col-span-2 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
            </ng-container>
          </ng-container>
          
          <ng-container *ngFor="let node of (branch.children || [])">
            <ng-container *ngFor="let child of node.children">
              <ng-container *ngFor="let grandchild of child.children">
                <app-accordian [node]="grandchild" [color]="getNodeColor(grandchild.type)" [isSelected]="selectedNode === grandchild" class="col-span-1 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </section>
    </div>
  </ng-container>

  <!-- CASE 2: USER VIEW (Level > 1) -->
  <ng-container *ngIf="level1_hierarchy && level1_hierarchy.type > 1">
    <section>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-4 items-start">
        
        <!-- Me -->
        <app-accordian [node]="userL1" [color]="getNodeColor(userL1.type)" [isSelected]="selectedNode === userL1" class="col-span-full mb-4" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
 
        <!-- My Children -->
        <ng-container *ngFor="let node of userL2">
          <app-accordian [node]="node" [color]="getNodeColor(node.type)" [isSelected]="selectedNode === node" class="col-span-4 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>
 
        <!-- My Grandchildren -->
        <ng-container *ngFor="let node of userL3">
          <app-accordian [node]="node" [color]="getNodeColor(node.type)" [isSelected]="selectedNode === node" class="col-span-2 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>
 
        <!-- My Great-Grandchildren -->
        <ng-container *ngFor="let node of userL4">
          <app-accordian [node]="node" [color]="getNodeColor(node.type)" [isSelected]="selectedNode === node" class="col-span-1 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>
 
      </div>
    </section>
  </ng-container>

  <!-- MODALS -->
  <app-map-modal [isOpen]="showProfileModal" [node]="profileNode" (close)="closeProfile()"></app-map-modal>
  <app-video-call-modal [isOpen]="showCallModal" [node]="callNode" [isIncoming]="isIncomingCall" (close)="closeCall()"></app-video-call-modal>
  <app-message-modal [isOpen]="showMessageModal" [node]="messageNode" (close)="closeMessage()"></app-message-modal>

</div>
