<div class="space-y-12 relative min-h-[calc(100vh-80px)]">
  
  <!-- CASE 1: PRESIDENTIAL VIEW (Level 1 Only) -->
  <ng-container *ngIf="level1_hierarchy?.level === 1">
    <!-- PRESIDENTIAL LEVEL -->
    <section>
      <div class="grid grid-cols-8 gap-1">
        <app-accordian [node]="level1_hierarchy" [color]="getNodeColor(level1_hierarchy.level)" [isSelected]="selectedNode === level1_hierarchy" class="col-span-8 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
      </div>
    </section>

    <!-- BRANCH 1 -->
    <section>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-1 items-start">
        <app-accordian *ngIf="branch1_L1" [node]="branch1_L1" [color]="getNodeColor(branch1_L1.level)" [isSelected]="selectedNode === branch1_L1" class="col-span-8 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        <ng-container *ngFor="let node of branch1_L2">
          <app-accordian [node]="node" [color]="getNodeColor(node.level)" [isSelected]="selectedNode === node" class="col-span-4 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>
        <ng-container *ngFor="let node of branch1_L3">
          <app-accordian [node]="node" [color]="getNodeColor(node.level)" [isSelected]="selectedNode === node" class="col-span-2 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>
        <ng-container *ngFor="let node of branch1_L4">
          <app-accordian [node]="node" [color]="getNodeColor(node.level)" [isSelected]="selectedNode === node" class="col-span-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>
      </div>
    </section>

    <div class="py-1"><hr class="border-gray-100 dark:border-gray-800" /></div>

    <!-- BRANCH 2 -->
    <section>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-1 items-start">
        <app-accordian *ngIf="branch2_L1" [node]="branch2_L1" [color]="getNodeColor(branch2_L1.level)" [isSelected]="selectedNode === branch2_L1" class="col-span-8 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        <ng-container *ngFor="let node of branch2_L2">
          <app-accordian [node]="node" [color]="getNodeColor(node.level)" [isSelected]="selectedNode === node" class="col-span-4 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>
        <ng-container *ngFor="let node of branch2_L3">
          <app-accordian [node]="node" [color]="getNodeColor(node.level)" [isSelected]="selectedNode === node" class="col-span-2 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>
        <ng-container *ngFor="let node of branch2_L4">
          <app-accordian [node]="node" [color]="getNodeColor(node.level)" [isSelected]="selectedNode === node" class="col-span-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>
      </div>
    </section>
  </ng-container>

  <!-- CASE 2: USER VIEW (Level > 1) -->
  <ng-container *ngIf="level1_hierarchy && level1_hierarchy.level > 1">
    <section>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-1 items-start">
        
        <!-- Me -->
        <app-accordian [node]="userL1" [color]="getNodeColor(userL1.level)" [isSelected]="selectedNode === userL1" class="col-span-8 mb-4" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>

        <!-- My Children -->
        <ng-container *ngFor="let node of userL2">
          <app-accordian [node]="node" [color]="getNodeColor(node.level)" [isSelected]="selectedNode === node" class="col-span-4 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>

        <!-- My Grandchildren -->
        <ng-container *ngFor="let node of userL3">
          <app-accordian [node]="node" [color]="getNodeColor(node.level)" [isSelected]="selectedNode === node" class="col-span-2 mb-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>

        <!-- My Great-Grandchildren -->
        <ng-container *ngFor="let node of userL4">
          <app-accordian [node]="node" [color]="getNodeColor(node.level)" [isSelected]="selectedNode === node" class="col-span-1" (onSelect)="onSelectNode($event)" (onShowProfile)="onOpenProfile($event)" (onShowCall)="onOpenCall($event)" (onShowMessage)="onOpenMessage($event)"></app-accordian>
        </ng-container>

      </div>
    </section>
  </ng-container>

  <!-- MODALS -->
  <app-map-modal [isOpen]="showProfileModal" [node]="profileNode" (close)="closeProfile()"></app-map-modal>
  <app-video-call-modal [isOpen]="showCallModal" [node]="callNode" (close)="closeCall()"></app-video-call-modal>
  <app-message-modal [isOpen]="showMessageModal" [node]="messageNode" (close)="closeMessage()"></app-message-modal>

</div>
